/* Css for sidene med samme tema*/
body {
  margin: 0; 
  font-family: 'Times New Roman', Times, serif;
}

h3 {
  font-size: x-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.skip_to_content {
  position: absolute;
  top: -400px;
}

.skip_to_content:focus {
  position: absolute;
  top: 0;
}

p {
  text-align: center;
  font-size: large;
  
}

.button {
font-size: xx-large;
}

header {
  max-width: 100%;
  height: 20vh;
  overflow: hidden;
  margin: 0 auto;
  background-color: #5F121A;
  color: white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  height: auto;
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 2%;
} 

#forside{
  background-image: url("img/Header_bilde1.png");
  background-size: cover;
  background-position: center;
  height: 50vh;
  }

h1 {
  text-align: center;
  margin: 0 auto;
  font-size: 60px;
  background-color: #5F121A;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5F121A;
}


li a {
  display: block;
  color: white;
  font-size: large;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}


li a:hover {
  background-color: #111111;
}

li a.active {
  background-color: #4e1111;
  color: white;
}

/*Css for welcome page*/ 

#main_content_wel {
  padding: 20px;
  background-color: white;
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5%;
  margin-top: 2%;
}

/* CSS for tilgjengelighets siden*/

#main_content_acc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 90%;
  align-items: center;
}

#tekst {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin-top: 1%;
}

.bilder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  width: 90%;
  margin-top: 3%;
  overflow: hidden;
}

.Wave_test {
  max-width: 70%;
  width: 50%;
}


/*Css for booking skjema*/
#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 90%;
  align-items: center;
  margin: 0 auto;
} 

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  width: 70%;
}


#submitknapp {
  margin-top: 2%;
  margin-bottom: 5%;
}


input[type=text],
select, 
    [type=email],
    [type=tel] {
    padding: 10px;
    border: 1px solid #8c123769;
    border-radius: 50px;
    box-sizing: border-box;
    resize: both;
    margin-top: 0%;   
}

input[type=submit] {
    background-color: #4e1111;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: large;
}

footer{
  bottom: 0;
  display: flex;
  background-color: #8c123769;
  flex-direction: row;
  width: 100%;
  height: 200px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-weight: bold;
}

#footer_left {
  width: 45%;
  max-height: 100%;
  font-size: large;
}

#footer_right {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto;
  width: 45%;
  max-height: 100%;
}

#logo {
  width: auto;
  max-height: 150px;
}

/*Css for Kafe*/ 
h2 {
  color: black;
  font-size: xx-large;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  text-decoration: underline;
}

#content_meny {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 0%;
  box-sizing: border-box;
}

#meny_left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  width: 45%;
  display: flex;
  justify-content: center;
  width: 45%;
  margin-top: 1%;
  overflow: hidden;
}

#meny_center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 0%;
  width: 45%;
  position: relative;
}

#meny_right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto;
  width: 45%;
  position: relative;
  margin-top: 1%;
}



/* Css for Teknologi og samfunn (aktuelt) siden*/
#tek_sam_header {
  background-color: #111111;
  height: 25vh;
}
#nav_tech {
  background-color: #111111;
}
#tech_head {
  background-color: #111111;
}
.tech a:hover {
  background-color: white;
  color: #111111;
}
#active_tech a.active {
  background-color: white;
  color: black;
}


#tech_head {
  background-image: url("img/numbers.gif"); 
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

#tekst_head {
  background: none;
  margin-top: 2%;
  font-family:"Audiowide", sans-serif;
}

.tech_overskrift {
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 5%;
}

iframe {
  width:500px;
  height: 400px;;
  
}

#content_tech {
  display: flex;
  flex-direction: row;
  max-width: 70%;
  margin-top: 3%;
  margin-left: 15%;
}

.brød_tekst {
  margin-top: 1%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
}

#tekst_tech {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

#tech_bilder {
  display: flex;
  flex-direction: column;
  margin-left: 0%;
  margin-top: 5%;
  border-style: solid;
  border-left: hidden;
  border-top: hidden;
  border-bottom: hidden;
}

ul.tech_list {
  display: list-item;
  list-style-type: disc;
  overflow: visible;
  margin-left: 3%;
  background-color: white;
}

.tech_punkt {
  background-color: white; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
  margin-bottom: 30%;
  margin-top: 10%;
}

.bildetekst {
  font-size: medium;
  margin-bottom: 20%;
}


#sidebar {
  margin-top: 3%;
  margin-left: 5%;
}


/*CSS for andre enheter enn PC-skjerm*/
/*Tablets*/

@media screen and (max-width: 820px) {

  h1 {
    font-size: 90px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 40px;
  }

  p {
    font-size: x-large;
  }
  ul {
    justify-content: center;
  }

  li a {
    font-size: x-large;
    text-align: center;
  }

  img {
    max-width: 100%;
  }

  #footer_left {
    margin-bottom: 3%;
  }

  .bildetekst {
    font-size: x-large;
  }

  #main_content {
    flex-direction: column;
    align-items: center;
  }

  #content {
    flex-direction: column;
    align-items: center;
  }

  #tekst {
    width: 90%;

  }
 

  .bilder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  

  #content_meny {
    flex-direction: column;
    max-width: 100%;
  }
  #meny_left {
    flex-direction: row;
    width: 90%;
    margin-top: 2%;
  }

  #meny_center {
    width: 90%;
  }
  #meny_right {
    flex-direction: row;
    width: 90%;
  }
  #form {
    width: 100%;
  }

  /*Aktuelt siden*/

  #tekst_head {
    font-size: 50px;
  }

  .tech_overskrift {
    font-size: 45px;
    text-align: center;
  }
  #content_tech {
    flex-direction: column;
    max-width: 100%;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  #tekst_tech {
    max-width: 100%;
    width: 100%;
    margin-top: 1%;
  }

  .brød_tekst {
    text-align: center;
  }

  iframe {
    width: 700px;
    height: 500px;
  }

  #tech_bilder { 
    border: solid;
    border-right: hidden;
    border-top: hidden;
    border-left: hidden;
   
  }

  .tech_punkt {
    font-size: 30px;
  }

}

/*Stor mobil*/

@media screen and (max-width: 640px) {

  h1 {
    font-size: 50px;
  }

  img {
  width: 100%;
  height: auto;

  }
  ul {
    justify-content: center;
  }

  li a {
    font-size: small;
    text-align: center;
  }

  #main_content {
    flex-direction: column;
    align-items: center;
  }

  #content {
    flex-direction: column;
    align-items: center;
  }

  #tekst {
    width: 90%;

  }
 

  .bilder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  

  #content_meny {
    flex-direction: column;
    max-width: 100%;
  }
  #meny_left {
    flex-direction: row;
    width: 90%;
    margin-top: 2%;
  }

  #meny_center {
    width: 90%;
  }
  #meny_right {
    flex-direction: row;
    width: 90%;
  }
  #form {
    width: 100%;
  }

  /*Aktuelt siden*/

  #tekst_head {
    font-size: x-large;
  }

  .tech_overskrift {
    font-size: large;
    text-align: center;
  }
  #content_tech {
    flex-direction: column;
    max-width: 100%;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  #tekst_tech {
    max-width: 100%;
    width: 100%;
    margin-top: 1%;
  }

  .brød_tekst {
    text-align: center;
  }

  iframe {
    width: 350px;
    height: 100;
  }

  #tech_bilder { 
    border: solid;
    border-right: hidden;
    border-top: hidden;
    border-left: hidden;
   
  }

  

}

/*Liten mobil*/

@media screen and (max-width: 400px) {

  h1 {
    font-size: 50px;
  }

  li a {
    font-size: x-small;
    text-align: center;
  }

  #form {
    width: 100%;
  }

  iframe {
    width: 300px;
  }
}

